:root{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    --background-color:#aaccdd;
    --background-accent-color:#ffbbcc;
    --text-color:black;
    --text-accent-color:rgb(192, 61, 61);
}

body {
    color:black;
}

a {
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    margin: 0.2rem 0.4rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    flex-grow: 1;
}

a:hover {
    color: var(--text-accent-color);
    background-color: #dddddd;
    /* color: white; */
}

header h1 {
    font-size: 3.6rem;
    font-weight: bolder;
    letter-spacing: -0.2rem;
    margin: 0;
    padding: 1rem 0rem;
}

.content {
    display: flex;
    flex-direction: row;
}

header {
    background-color: blanchedalmond;
    color:black;
    padding: 0.1rem 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    width: 6rem;
    font-size: 4rem;
    display: none;
}

nav {
    background-color:var(--background-color);
    padding: 1rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main {
    background-color: cadetblue;
    padding: 1rem;
}

aside {
    width: 8rem;
    background-color: brown;
    padding: 1rem;
}

footer {
    background-color:gray;
    padding: 1rem;
    border-radius: 0rem 0rem 1rem 1rem;
    font-weight: bolder;
}

article {
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1rem;
}

@media (max-width: 99999px){
    nav {
        display: flex;
    }
}

@media (max-width: 600px){
    nav {
        flex-direction: column;
        display: none;
    }

    .hide {
        display: none;
    }

    button {
        display: block;
    }
}